@{
    ViewBag.Title = "About";
}

<div class="AboutContent">
    <h3>Origins of the Mario Kark Kompetition Komittee </h3>

    <p>
        The year was 2017 CE., a group of avid Mario Kart enthusiasts were thoroughly enjoying vying for the title of “Fastest Racer” when it was realized that the native skoring capabilities of the console were limited. To address this short-comingof the game, an extended skoring scheme was devised. Thus was born the Mario Kart Kompetition Komittee.

    </p>

    <p>
        Since it is a fast paced game with little time between races, the extended skoring rules needed to be simple, but able to truly reflect who was top Kart handler within the Komittee.  A few simple rules were laid out and ratified by all members. They are as follows:
    </p>

    <div class="row justify-content-around">
        <div class="col-5">
            <img src="~/Content/Images/mk_og.jpg" alt="original skorekard" class="about-images" />
        </div>
        <div class="col-5">
            <img src="~/Content/Images/mk_spreadsheet.jpg" alt="first skorekard iteration" class="about-images" />
        </div>
    </div>

    <h3>How the Skoring Works:</h3>
    <ol>
        <li>A “Kup” consists of 4 races (played serially) which is the default setting of the game, and also hits the sweet spot of long enough but not too long. </li>
        <li>
            A player earns one quarter of one point for each 1st place finish they earn during the cup.
        </li>
        <li>
            If a player sweeps the cup and places 1st in each of the races, they are awarded a full bonus point.
        </li>
        <li>
            If none of the human players takes first place in a race, no points are awarded. As of the writing of this, this scenario has never happened.
        </li>
        <li>
            If all 4 races of the Kup are not completed by all players that began the Kup, all scores are dismissed and the Kup is not officially counted.
        </li>
    </ol>
</div>
