@{
    ViewBag.Title = "MK Kup Skorer Home";
}

<br />

<br />
<div class="overflow-scroll">
    <div class="row justify-content-around">
        <div class="col-4">
            <a href="@Url.Action("Index", "Player", null)">
                <img src="~/Content/Images/racers.png" class="img-thumbnail" />
            </a>
            <p class="text-center">Create and Edit Racers</p>
        </div>
        <div class="col-4">
            <a href="@Url.Action("StartKup", "Kup", null)">
                <img src="~/Content/Images/kup.PNG" class="img-thumbnail" />
            </a>
            <p class="text-center">Start Skokring A Kup</p>
        </div>
    </div>
    <br />
    <div class="row justify-content-around">
        <div class="col-4">
            @Html.ActionLink("Report Kards", "Index", "ReportController", null, new { @class = "btn btn-primary btn-lg" })
            <p>Search Past Results</p>
        </div>
        <div class="col-4">
            @Html.ActionLink("Pit Stop", "Index", "MessageController", null, new { @class = "btn btn-primary btn-lg" })
            <p>Messaging Board</p>
        </div>
    </div>
</div>

