
@{
    ViewBag.Title = "Index";
}

<h2>Report Kards</h2>

<ul>
    <li>
        @Html.ActionLink("Racer Report Kard", "Racers", null, new { @Class = "report-kard-tile" })
    </li>
    <li>
        @Html.ActionLink("Kups Report Kard", "Kups", null, new { @Class = "report-kard-tile" })
    </li>

</ul>