
@{
    ViewBag.Title = "Index";
}

<h2>Report Kards</h2>

<ul>
    <li>
        Racers by Total Points
    </li>
    <li>
        Racers by Most Wins
    </li>
    <li>
        Racers by Most Bonus Points
    </li>
    <li>
        Racers by Longest Time Since Bonus Point
    </li>
</ul>